<div class="example-viewer">
    <div class="docs-example-viewer-wrapper">
      <div class="docs-example-viewer-title">
        <div class="docs-example-viewer-title-spacer">
          Dashboard
        </div>
      </div>
      <div class="docs-example-viewer-source">
        <div class="example-viewer" style="display:flex;flex-direction:row;flex-wrap: wrap;justify-content: flex-start;">
            <div class="docs-example-viewer-wrapper" style="width:49%;height: 49%;">
              <div class="docs-example-viewer-title">
                <div class="docs-example-viewer-title-spacer">
                  Companies
                </div>
              </div>
              <div class="docs-example-viewer-source">
                  <mat-progress-bar *ngIf="show" color="accent" mode="indeterminate"></mat-progress-bar>
                  <mat-spinner *ngIf="show" color="accent" diameter="15" style="z-index:2;position:absolute;"></mat-spinner>
                  <div *ngIf="chart">
                    <canvas id="canvas">{{ chart }}</canvas>
                  </div>
              </div>
            </div>
            <div class="docs-example-viewer-wrapper" style="width:49%;height: 49%;">
              <div class="docs-example-viewer-title">
                <div class="docs-example-viewer-title-spacer">
                  Companies in a Locaion
                </div>
              </div>
              <div class="docs-example-viewer-source">
                  <mat-progress-bar *ngIf="show" color="accent" mode="indeterminate"></mat-progress-bar>
                  <mat-spinner *ngIf="show" color="accent" diameter="15" style="z-index:2;position:absolute;"></mat-spinner>        
                <div *ngIf="chart">
                  <canvas id="canvas1">{{ chart }}</canvas>
                </div>
              </div>
            </div>
            <div class="docs-example-viewer-wrapper" style="width:49%;height: 49%;">
              <div class="docs-example-viewer-title">
                <div class="docs-example-viewer-title-spacer">
                  Employee's in a Company
                </div>
              </div>
              <div class="docs-example-viewer-source">
                  <mat-progress-bar *ngIf="show" color="accent" mode="indeterminate"></mat-progress-bar>
                  <mat-spinner *ngIf="show" color="accent" diameter="15" style="z-index:2;position:absolute;"></mat-spinner>        
                <div *ngIf="chart">
                  <canvas id="canvas3">{{ chart }}</canvas>
                </div>
              </div>
            </div>
            <div class="docs-example-viewer-wrapper" style="width:49%;height: 49%;">
              <div class="docs-example-viewer-title">
                <div class="docs-example-viewer-title-spacer">
                  Company Industry
                </div>
              </div>
              <div class="docs-example-viewer-source">
                  <mat-progress-bar *ngIf="show" color="accent" mode="indeterminate"></mat-progress-bar>
                  <mat-spinner *ngIf="show" color="accent" diameter="15" style="z-index:2;position:absolute;"></mat-spinner>        
                <div *ngIf="chart">
                  <canvas id="canvas4">{{ chart }}</canvas>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>