<!-- https://angular.io/tutorial/toh-pt5 -->
<header style="position:relative;z-index:1;">
  <mat-toolbar color="primary" class="mat-elevation-z6">
      <button mat-button><mat-icon>attach_money</mat-icon> Manage 401(K)</button>
      <ng-container *ngIf="role=='admin'; else elseTemplate">
        <button mat-button>Application Admin</button>
      </ng-container>
      <ng-template #elseTemplate>
          <ng-container *ngIf="role=='company'; else else1Template">
            <button mat-button>Company Admin</button>
          </ng-container>
      </ng-template>
      <ng-template #else1Template>
        <ng-container *ngIf="role=='employee';">
          <button mat-button>Employee</button>
        </ng-container>
    </ng-template>

      <span class="example-spacer"></span>
            <span style="font-size: 16px">
              <button mat-button><mat-icon>my_location</mat-icon> <span>&nbsp;{{city}},{{state}} | {{email}}</span></button>
            </span>
      <button mat-button style="margin-left: 2%">{{actualDate}}</button>
      <button style="margin-left: 2%" mat-button [matMenuTriggerFor]="notifications"><mat-icon matBadge="3" matBadgeColor="accent" matBadgePosition="above before">notifications</mat-icon></button>
      <mat-menu #notifications="matMenu">
        <button class="nav-link" routerLink="/" mat-menu-item (click)="hideMenu()">Dummy Notification #1</button>
        <mat-divider></mat-divider>
        <button class="nav-link" routerLink="/" mat-menu-item (click)="hideMenu()">Dummy Notification #2</button>
        <mat-divider></mat-divider>
        <button class="nav-link" routerLink="/" mat-menu-item (click)="hideMenu()">Dummy Notification #3</button>
        <mat-divider></mat-divider>
        <button class="nav-link" routerLink="/" mat-menu-item (click)="hideMenu()">more</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="profile"><mat-icon>account_circle</mat-icon> {{user}} <mat-icon>arrow_drop_down</mat-icon></button>
        <mat-menu #profile="matMenu">
          <button class="nav-link" routerLink="/" mat-menu-item (click)="changeProfile()"><mat-icon>perm_identity</mat-icon>Update Profile</button>
          <button class="nav-link" routerLink="/" mat-menu-item (click)="changePassword()"><mat-icon>lock</mat-icon>Change Password</button>
          <button (click)="logout()" mat-menu-item><mat-icon>power_settings_new</mat-icon>Logout</button>
        </mat-menu>
        <button mat-button><mat-icon matTooltip="Info">help</mat-icon></button>
    </mat-toolbar>
</header>